#!/bin/sh

# set important paths
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME=${XDG_DATA_HOME:="$HOME/.local/share"}

[ -d /sbin ] && PATH="$PATH:/sbin"
[ -d /usr/sbin ] && PATH="$PATH:/usr/sbin"
[ -d "$HOME/bin" ] && PATH="$HOME/bin:$PATH"

# qt themeing
export QT_QPA_PLATFORMTHEME=qt5ct

# light
light -S 60

# super alone simulates Alt-F1
ksuperkey -e 'Super_L=Alt_L|F1' &

# keyboard repeat rate
xset r rate 500 30

# Increase scrolling speed
echo 4 > /tmp/libinput_discrete_deltay_multiplier
